.scoreTitle {
  margin-top: 5%;
}
.leaderTabs {
  margin-top: 10%;
}
.rulesContainer {
  margin-top: 10%;
}
.skeetForm {
  border-radius: 4px;
  margin-top: 5%;
}

.trapForm {
  border-radius: 4px;
  margin-top: 5%;
}

html {
  background-color: #abbf6d;
}

.App {
  background-color: #abbf6d;
}

h1 {
  text-align: center;
  color: #ffc04d;
  font-size: 400%;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 300%;
    text-align: center;
    margin-top: 50px;
  }
}
